
*
{
    margin:0 auto;
    padding:0;
}

.third
{
    color:green;
    padding:10px;
    margin:20px;
}

.row
{
    height: 60px;
    background-color: aqua;
    border:2px solid red;
    width: 1200px;
}
.row section
{
    border:1px solid red;
    background-color: aquamarine;
    float:left;
    width:600px;
    box-sizing: border-box;
}


.row1
{
    margin-top: 10px;
    height: 200px;
    background-color: aqua;
    border:2px solid red;
    width: 1200px;
    display: flex;
}
.row1 section
{
    border:1px solid red;
    background-color: aquamarine;
    flex:1; 
}
